<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d7a79">  <td>18/10/28 13:50:24</td>   <td>0</td> <td title="&gt;&gt;Report.startResult()[pri:0, instance:testCases.TcCreateLead@78c03f1f]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/28 13:50:24</td>   <td>405</td> <td>&nbsp;</td><td title="&gt;&gt;TcCreateLead.setData()[pri:0, instance:testCases.TcCreateLead@78c03f1f]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/28 13:50:26</td>   <td>2574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testCases.TcCreateLead@78c03f1f]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/28 13:51:37</td>   <td>73770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TcCreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TcCreateLead@78c03f1f]">createLead</td> 
  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="d68fa3">  <td>18/10/28 13:52:36</td>   <td>132109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testCases.TcCreateLead@78c03f1f]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>18/10/28 13:52:38</td>   <td>134660</td> <td title="&lt;&lt;Report.endResult()[pri:0, instance:testCases.TcCreateLead@78c03f1f]">&lt;&lt;endResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1427810650</td>   <td></td> </tr>
</table>
